alabaster==0.7.12
Babel==2.8.0
beautifulsoup4==4.9.0
bimlpa==0.1.2
boto==2.49.0
boto3==1.13.3
botocore==1.16.3
cdlib==0.1.8
certifi==2020.4.5.1
chardet==3.0.4
coverage==5.1
cycler==0.10.0
decorator==4.4.2
demon==2.0.5
docutils==0.16
eva-lcd==0.1.0
future==0.18.2
gensim==3.8.3
idna==2.9
imagesize==1.2.0
infomap==1.1.2
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.14.1
karateclub==1.0.2
kiwisolver==1.2.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mock==3.0.5
networkx==2.3
nf1==0.0.3
numpy==1.18.4
omega-index-py3==0.3
packaging==20.3
pandas==1.0.3
pquality==0.0.7
PuLP==1.6.10
Pygments==2.6.1
PyGSP==0.5.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-louvain==0.13
pytz==2020.1
regex==2020.4.4
requests==2.23.0
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
smart-open==2.0.0
snowballstemmer==2.0.0
soupsieve==2.0
Sphinx==1.7.5
sphinx-rtd-theme==0.4.3
sphinxcontrib-websupport==1.2.2
textdistance==4.2.0
tqdm==4.46.0
urllib3==1.25.9
