beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
coverage==5.1
decorator==4.4.2
gitdb==4.0.5
GitPython==3.1.2
idna==2.9
lxml==4.5.0
networkx==2.4
numpy==1.18.4
pandas==1.0.3
python-dateutil==2.8.1
pytz==2020.1
regex==2020.5.7
requests==2.23.0
six==1.14.0
smmap==3.0.4
soupsieve==2.0
textdistance==4.2.0
urllib3==1.25.9
